<h1>Listing cars</h1>

<input id="car_search"></input>

<table>
  <tr>
    <th>Category</th>
    <th>Make</th>
    <th>Model</th>
    <th>Model</th>
    <th>Price</th>
    <th>Fuel</th>
    <th>Colour</th>
    <th>Doors</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><%= car.category %></td>
    <td><%= car.make %></td>
    <td><%= car.model_name %></td>
    <td><%= car.model_code %></td>
    <td><%= car.price %></td>
    <td><%= car.fuel %></td>
    <td><%= car.colour %></td>
    <td><%= car.doors %></td>
    <td><%= link_to 'Show', car %></td>
    <td><%= link_to 'Edit', edit_car_path(car) %></td>
    <td><%= link_to 'Destroy', car, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Car', new_car_path %>
